<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleMapsMobileSdkApiKey</key>
	<string>your Google Maps mobile SDK SPI key</string>
	<key>GoogleMapsUrlApiKey</key>
	<string>your Google Maps web (js) SDK SPI key</string>
</dict>
</plist>
